body {
    background-color: rgb(193, 194, 214) ;
    
}


.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    
    background-color: red;
    width: 250px;
    height: 250px;

}