body {
    background-color: rgb(211, 195, 195);
}

.keyboard {
    margin: 0 auto;
    width: 50%;
    height: 120px;
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

button {
    width: 100px;
    height: 50px;
    border-radius: 10px;
}

button:hover {
    background-color: red;
    width: 150px;
    height: 80px;
    border-radius: 60px;
}

